@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] br{
	display: none;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	font-variant: small-caps;
	text-align: right;
	margin-top: 1em;
}
